@inject Triceratops.Libraries.Http.Api.Interfaces.Client.ITriceratopsApiClient ApiClient

@using Triceratops.Libraries.Helpers

@{
    var servers = (await ApiClient.GetServerListAsync()).OrderBy(s => s.Name);
    var hasServers = servers.Any();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Triceratops: @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/e4dcca8f36.js" crossorigin="anonymous"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
            <a class="navbar-brand" asp-route="Home">Triceratops</a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageServersDropdown_label" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="manageServersDropdown_label">
                        @if (hasServers)
                        {
                            @foreach (var server in servers)
                            {
                                <a class="dropdown-item" asp-route="ServerDetails" asp-route-slug="@server.Slug">
                                    <img src="/icons/@(server.ServerType).ico" width="24" height="24" alt="@server.ServerType Icon" />
                                    @server.Name
                                </a>
                            }
                            <div class="dropdown-divider"></div>
                        }
                        <a class="dropdown-item" asp-route="ListServers">View All</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="createNewServerDropdown_label" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create Server
                    </a>
                    <div class="dropdown-menu" aria-labelledby="createNewServerDropdown_label">
                        @foreach (var serverType in ServerTypeHelper.AllowedServerTypes)
                        {
                            <a class="dropdown-item" asp-route="Server_Create" asp-route-serverType="@serverType">@serverType</a>
                        }
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    @RenderSection("PageNav", false)

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - Triceratops.Dashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
